.xts-header {
	background-color: rgba(0, 94, 184, 1);
}

/* DROPDOWN ALIGN BOTTOM IN TOP BAR */

.xts-top-bar.xts-dropdowns-align-bottom .xts-dropdown {
	margin-top: -20px;
}

.xts-top-bar.xts-dropdowns-align-bottom .xts-dropdown:after {
	height: -10px;
}


/* DROPDOWN ALIGN BOTTOM IN GENERAL HEADER */

.xts-general-header.xts-dropdowns-align-bottom .xts-dropdown {
	margin-top: 7.5px;
}

.xts-general-header.xts-dropdowns-align-bottom .xts-dropdown:after {
	height: 17.5px;
}

	.xts-sticked .xts-general-header.xts-dropdowns-align-bottom .xts-dropdown {
		margin-top: 7.5px;
	}

	.xts-sticked .xts-general-header.xts-dropdowns-align-bottom .xts-dropdown:after {
		height: 17.5px;
	}

/* DROPDOWN ALIGN BOTTOM IN HEADER BOTTOM */

.xts-header-bottom.xts-dropdowns-align-bottom .xts-dropdown {
	margin-top: -20px;
}

.xts-header-bottom.xts-dropdowns-align-bottom .xts-dropdown:after {
	height: -10px;
}



@media (min-width: 1025px) {

	/* HEIGHT OF ROWS ON HEADER */

	.xts-top-bar .xts-header-row-inner {
		height: 0px;
	}

	.xts-general-header .xts-header-row-inner {
		height: 55px;
	}

	.xts-header-bottom .xts-header-row-inner {
		height: 0px;
	}

	/* HEIGHT OF ROWS WHEN HEADER IS STICKY */

	.xts-sticky-real.xts-sticked .xts-top-bar .xts-header-row-inner {
		height: 0px;
	}

	.xts-sticky-real.xts-sticked .xts-general-header .xts-header-row-inner {
		height: 55px;
	}

	.xts-sticky-real.xts-sticked .xts-header-bottom .xts-header-row-inner {
		height: 0px;
	}

	/* HEIGHT OF HEADER CLONE */

	.xts-header-clone .xts-header-row-inner {
		height: 90px;
	}

	/* HEIGHT OF PAGE TITLE WHEN HEADER IS OVER CONTENT */

	.xts-header-overlap .xts-page-title.xts-size-xs {
		padding-top: 65px;
	}

	.xts-header-overlap .xts-page-title.xts-size-s {
		padding-top: 75px;
	}

	.xts-header-overlap .xts-page-title.xts-size-m {
		padding-top: 95px;
	}

	.xts-header-overlap .xts-page-title.xts-size-l {
		padding-top: 135px;
	}

	.xts-header-overlap .xts-page-title.xts-size-xl {
		padding-top: 165px;
	}

	.xts-header-overlap .xts-page-title.xts-size-xxl {
		padding-top: 255px;
	}

	/* HEIGHT OF HEADER BUILDER ELEMENTS */

	/* HEIGHT ELEMENTS IN TOP BAR */

	.xts-top-bar .xts-logo img {
		max-height: 0px;
	}

	.xts-sticked .xts-top-bar .xts-logo img {
		max-height: 0px;
	}

	/* HEIGHT ELEMENTS IN GENERAL HEADER */

	.xts-general-header .xts-logo img {
		max-height: 55px;
	}

	.xts-sticked .xts-general-header .xts-logo img {
		max-height: 55px;
	}

	/* HEIGHT ELEMENTS IN BOTTOM HEADER */

	.xts-header-bottom .xts-logo img {
		max-height: 0px;
	}

	.xts-sticked .xts-header-bottom .xts-logo img {
		max-height: 0px;
	}

	/* HEIGHT ELEMENTS IN HEADER CLONE */

	.xts-header-clone .xts-general-header .xts-logo img {
		max-height: 90px;
	}
}

@media (max-width: 1024px) {

	/* HEIGHT OF ROWS ON HEADER */

	.xts-top-bar .xts-header-row-inner {
		height: 0px;
	}

	.xts-general-header .xts-header-row-inner {
		height: 55px;
	}

	.xts-header-bottom .xts-header-row-inner {
		height: 0px;
	}

	/* HEADER OVER CONTENT */

	.xts-header-overlap .xts-page-title {
		padding-top: 75px;
	}

	/* HEIGHT ELEMENTS IN TOP BAR */

	.xts-top-bar .xts-logo img {
		max-height: 0px;
	}

	/* HEIGHT ELEMENTS IN GENERAL HEADER */

	.xts-general-header .xts-logo img {
		max-height: 55px;
	}

	/* HEIGHT ELEMENTS IN BOTTOM HEADER */

	.xts-header-bottom .xts-logo img {
		max-height: 0px;
	}
}
.xts-close-side.xts-location-header {
	top: 55px;
}
.admin-bar .xts-close-side.xts-location-header {
	top: 87px;
}
.xts-close-side.xts-location-sticky-header {
	top: 55px;
}
.admin-bar .xts-close-side.xts-location-sticky-header {
	top: 87px;
}
		
.xts-top-bar {
	border-color: rgba(237, 237, 237, 1);border-bottom-width: 1px;border-style: solid;
}

.xts-general-header {
	background-color: rgba(0, 94, 184, 1);border-style: solid;
}

.xts-header-bottom {
	border-style: solid;
}
